
.app{
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
min-width: 100%;
height: 100vh;
width: 100vh;
background: linear-gradient(rgb(182, 218, 186), rgb(115, 173, 196));


}
.prembutton{

position: absolute;
right: 0;
top:0;
width: 5rem;
height: 3rem;
border-radius: 24px;
opacity: 0.75;

}
.prembutton:hover{
  opacity: 1;
}
.register{
 font-size: larger;

}
.btn{
 color:rgb(72, 75, 46);
 background: linear-gradient(rgb(156, 122, 191), rgb(244, 241, 245));
 width: 8em;
 height: 2em;
 border-radius: 10px;

}
.brand{ display: flex;
  justify-content: center;
  position: fixed;
color:rgb(140, 90, 181);
top: 50px;
  border: 3px solid rgb(4, 34, 73);
  border-radius: 60px;
  border-color: azure;
  
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
#animate-area {
  display: flex;
  justify-content: center;
   align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(130, 217, 207), rgb(197, 228, 59));
 opacity: 0.76;
  background-position: 0px 0px;
  background-repeat: repeat-x repeat-y;
  animation: animatedBackground 50s linear infinite alternate;
  background-size: contain;
  width: 100%;
  height: 100vh;

}
.expenselist{
  position: absolute;
  top: 110px;
  left:0;
}
.currentexpense{
  position: absolute;
  top: 110px;
   right:0;
}

