.login {
  width: 100%;
  height: 100%;
  background-color: rgb(217, 242, 242);
  align-items: center;
  position: absolute;
  
}
.container {
  display: flex;
  background-image: linear-gradient(rgb(80, 163, 178), rgb(225, 241, 227));
 
  position: relative;
  width: 100%;
  height: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-image: linear-gradient(rgb(177, 158, 237), rgb(154, 76, 214));
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5em;
 }
 .text {
  font-size: 20px;
  font-weight: 200;
  color: rgb(64, 55, 55);
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
  padding: 17px 5px;
  border-radius: 5px;
  background-image: linear-gradient(rgb(213, 202, 240), rgb(255, 255, 255));
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;
  background-image: linear-gradient(rgb(147, 108, 185), rgb(185, 136, 222));
  box-shadow: 0px 0px 12px 2px rgba(3, 10, 10, 0.666)  !important;
  width: 50%;
  position: relative;
  right: -10em;
  margin-top: 5em;
  top:5em;
  
  border-radius: 6px;
  z-index: 1;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}
  

.brand {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font:'Arial Narrow';
  height: 100vh;
  width:50vh;
  background-image: linear-gradient(rgb(88, 31, 231), rgb(188, 170, 201));
  color: rgb(229, 241, 241);
  cursor: pointer;
  position: relative;
  border-radius: 10%;
  
  
 }
 .hometext {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font:'Arial Narrow';
  color: rgb(243, 254, 243);
  position:absolute;
  right: 40% !important;

  cursor: pointer; 
}
.hometext2 {
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font:'Arial Narrow';
  color: rgb(243, 254, 243);
  position:absolute;
  right: 40% !important;
  bottom: 50px;

  cursor: pointer; 
}



